[submodule "server"]
	path = server
	url = https://github.com/PrathamMishra/RealTimeChatApp-Backend.git
[submodule "client"]
	path = client
	url = https://github.com/PrathamMishra/RealTimeChatApp-Frontend.git
